{% extends 'base.html' %}

{% block title %}
{{ album.date }} - {{ album.time }}
{% endblock title %}

{% block content %}
<h2>Detalhes da Consulta<h2>

        <hr>

        <section class="dados-de-album">
            <ul>
                <li class="details">Clínica: {{ album.author }}</li>
                <li class="details">Dia: {{ album.date|date:"D d M Y" }}</li>
                <li class="details">Horário Inicial: {{ album.timeinit|date:"H:s" }} </li>
                <li class="details">Horário Final: {{ album.timefinal|date:"H:s" }} </li>
                <li class="details">Especialidade: {{ album.especialidade }}</li>
                {% if album.info %}
                <li class="details">Informação: {{ album.info }}</li>
                {% endif %}
            </ul>
        </section>

        <hr>

        <section>
            <h3>Agendamentos</h3>
            <ul>
                {% if album.review_set.all %}
                {% for review in album.review_set.all reversed %}

                <p class="text">
                    "{{ review.text }}"
                </p>
                <p class="text">—{{ review.author }}</p>
                {% endfor %}
                {% else %}
                <p class="text">Esta consulta ainda não foi agendada.</p>
                <hr>

                <a href="{% url 'albuns:review' album.pk %}"><button>Faça um Agendamento</button></a>
                {% endif %}
            </ul>


        </section>
        {% endblock content %}