{% extends 'base.html' %}

{% block content %}
<h2>Todos os horários estabelecidos</h2>
<section>
    <a class="button" href="{% url 'albuns:create' %}">Adicionar Consulta</a></p>
</section>
{% if album_list %}
<section class="lista-de-cards">
    {% for album in album_list %}
    {% if user.get_username == album.author|stringformat:"s" %}
    <article class="card">
        <a href="{% url 'albuns:detail' album.id %}">
            <ul>
                <p>{{ album.author }} </p>
                <p>{{ album.date|date:"D d M Y" }} - {{ album.timeinit|date:"H:s"}} </p>
                <p> Já agendado? {% if album.review_set.all %} Sim {% else %} Não {% endif %}</p>
            </ul>
        </a>
    </article>
    {% endif %}
    {% endfor %}
</section>
{% else %}
<p>Não há horários.</p>
{% endif %}

{% endblock content %}