:root {
    --red: #CE2D4F;
    --blue: #470FF1;
    --tertiary-color: #000000;
    --secondary-color-light: #CE2D4F;
    --tertiary-color-light: #ff6d28;
    --white: #fff;
    --secondary-bg-color: #D4CEFD;
    --color-shadow: #f4f4f4;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-evenly;
    width: 110%;
    margin: -10px;
    background: #CE2D4F;
    padding: 20px;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

li a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}

li a:hover {
    color: var(--white);
    text-decoration: underline;
}

li.details {
    display: list-item;
    font-size: large;
    text-align: -webkit-match-parent;
}

li.details a {
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
}

li a:hover {
    color: var(--red);
    text-decoration: underline;
}

ul {
    display: inline-block;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

div.parent {
    display: flex;
    justify-content: space-between;
}

nav#navegacao-principal li {
    display: inline-block;
    padding: 10px;
}

main#conteiner-principal {
    margin-top: 5%;
    width: 100%;
    max-width: 1080px;
    flex-grow: 1;
    background: #E9EBFF;
    border-radius: 25px;
    border: 2px solid #060606;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 1rem 1rem;
}

footer#rodape-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
}

.lista-de-cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid var(--secondary-bg-color);
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
    box-shadow: 2px 2px 10px #858585;
    margin: 1rem;
    padding: 1.25rem;
    width: 285px;
}

.small-card {
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5px;
    box-shadow: 2px 2px 10px var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: 160px;
}

.card img {
    width: 100%;
}

.small-card img {
    width: 100%;
}

a {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

a:hover {
    color: var(--secondary-color-light);
    text-decoration: underline;
}

a.button {
    color: var(--white);
    background-color: var(--blue);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    font-size: large;
    border-radius: 80px;
    padding: 15px;
    justify-content: space-between;
    margin: 0px 3% 0px 3%;
}

a.button:hover {
    color: var(--white);
    text-decoration: underline;
    background-color: var(--red);
}

a.smallbutton {
    color: var(--white);
    background-color: var(--blue);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    font-size: x-large;
    border-radius: 80px;
    padding: 15px;
    justify-content: space-between;
    margin: 0px 3% 0px 3%;
}

a.smallbutton:hover {
    color: var(--white);
    text-decoration: underline;
    background-color: var(--red);
}

p.text {
    font-size: large;
    color: var(--black);
}

.dados-de-album {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 1rem 0;
}

.dados-de-album img {
    width: 285px;
    box-shadow: 2px 2px 10px var(--color-shadow);
}

.dados-de-album ul {
    list-style-type: none;
}

input {
    display: block;
    width: 100%;
    max-width: 560px;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem;
}

button {
    background-color: var(--blue);
    border: 2px solid var(--blue);
    color: var(--white);
    border-radius: 5px;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    margin: 0.5rem 0;
    padding: 1rem 2rem;
}

button:hover {
    background-color: var(--secondary-color-light);
    border: 2px solid var(--secondary-color-light);
}

h1.body {
    border-radius: 17px;
    background: #470FF1;
    display: flex;
    padding: 23px 20% 20px 20%;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

h1.header {
    display: flex;
    padding: 23px 0px 20px 0px;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

header.specific {
    display: flex;
    justify-content: space-evenly;
    width: 110%;
    margin: 10px 0px 10px 0px;
    background: #CE2D4F;
    padding: 20px;
    align-items: center;
}